
*.pyc
__pycache__/
*.pdb
.vscode/
.idea/
initial_datas/*
Object_code/__pycache__/
Object_code/.pytest_cache
Object_code/result/*
Object_code/spreadsheet/*

Other_try/*

previous_code/result/*
previous_code/spreadsheet/*


.statsmodels_cache/
pandas_cache/
matplotlib_cache/

