
*.pyc
__pycache__/
*.pdb
.vscode/
.idea/
spreadsheet/*.xlsx
initial_datas/*
visualization/*
result/*
projet/*
test/*
spreadsheet/*
.statsmodels_cache/
pandas_cache/
matplotlib_cache/

