
*.pyc
__pycache__/
*.pdb
.vscode/
.idea/
initial_datas/*
__pycache__/
.pytest_cache
result/*
spreadsheet/*

Other_try/*

previous_code/result/*
previous_code/spreadsheet/*


.statsmodels_cache/
pandas_cache/
matplotlib_cache/

